/* Setup default styles */
*{
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    margin: 0;
    max-width: 100%;
    text-align: right;
    font-family: 'Rubik', sans-serif;
    color: #161C30;
    font-size: 1.1em;
}

img {
    width: 100%; 
}

header {
    padding: 5px 0;
}

img, p, h1, h2 {
    padding: 0;
    margin: 0;
}

h1 {
    padding-bottom: 1rem;
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

/* End of elements */

/***** welcome *****/

.container-star-img {
    opacity: 0.2;
    width: 45%;
    position: absolute;
    padding: 10px;
    top: 10px;
    left: 0;
}

.container-logo-img {
    width: 75%;
    padding: 10px;
}

.welcome {
    padding: 0 1.2em;
    background-image: linear-gradient(to bottom right, white, rgb(240, 240, 255));
    display: flex;
    flex-direction: column;
}
.welcome-paragraph {
    padding-bottom: 1em;
}

.welcome-paragraph h1 {
    padding-bottom: 0em;
    /* font-size: 0.9em; */
}

.welcome-paragraph p {
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1em;
}

@media (min-width:800px) {
    .main-container {
        width: 80%;
        max-width: 900px;
        margin-top: 2rem;
    }
    .welcome {
        padding: 1em 0;
        flex-direction: row;
    }
    .welcome-paragraph {
        width:45%;
        margin: auto auto;
        padding: 1rem;
    }
    .welcome-img {
        width:45%;
        margin: auto 0;
        padding: 1rem;
        padding-left: 0;
    }
}

/**** End of welcome *****/

.container {
    background-image: linear-gradient(to bottom right, white 50%, rgb(197, 197, 255));
    text-align: center;
    padding: 0em 2em;
}

.container-intro {
    padding: 2.5em 0;
 }

.container-course {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:800px) {
    .container-course {
        flex-direction: row;
        justify-content: space-between;
    }

    .container-course-description {
        width: 45%;
    }

    .second-container {
        padding-left: 20px;
        order: -1;
    }
    
    .container-course-image {
        width: 45%;
        margin: auto auto;
    }
}

.container-course-description {
    font-weight: 500;
    margin: 0 auto;
    text-align: right;
}

.container-course-description h1 {
    text-align: center;
}

.polaroid-container {
    margin-top: 50px;
    margin-bottom: 90px;
}

.dreaming-lambada {
    text-align: right;
    padding: 20px 0 80px 0;
}

.certificate-container {
    padding-top: 500px
}

/* End of layout */

/* lists */

ul {
    padding-right: 0rem;
}
.V-bullet li {
    background-image: url("../images/V-icon.png");
}
.arrow-bullet li {
    background-image: url("../images/arrow-icon-blue-1.png");
}
.heart-bullet li{
    background-image: url("../images/empty-blue-heart-icon.png");
}

li {
    margin: 0;
    padding: 8px 0px;
    list-style: none;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px;
    text-align: right;
    width: 100%;
}

li:last-child {
    margin-bottom: 40px;
}

.bullet-text {
    padding-right: 37px;
    color: rgb(46, 66, 92);
}

/* End of lists */

/* images */

.container-header-img {
    width:60%;
    /* max-width: 350px; */
}


/***** Polaroid *****/

.new-poladorid {
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin-bottom: 50px;
}

div.rotate_left {
    /* float: left; */
    -ms-transform: rotate(-8deg); /* IE 9 */
    -webkit-transform: rotate(-8deg); /* Safari */
    transform: rotate(-8deg);
}

.shadow-box {
    padding: 10px;
    box-shadow: 5px 18px 10px  #888888;
}
/* End of Polaroid */

/* =================
   form
   ================= */
.contact-us {
    /* font-family: 'Bellefair', serif; */
    color: white;
    padding: 1em;
    background-color: rgb(202, 238, 250);
    background-image: url(../images/Blue\ splash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
    background-blend-mode: luminosity;
    height: 100%;
    text-align: center;
    margin: 0 auto;
}

.contact-us h2,
.contact-us p {
    padding-bottom: 1em;
}
.email-collector {
    width: 80%;
    max-width: 300px;
}

form {
    margin: 0 auto;
}

input,
.btn {
    width: 100%;
    border-radius: 5px;
}

input {
    font-size: 1.25rem;
    font-family: inherit;
    text-align: center;
    margin-bottom: .75em;
    padding: .25em;
    border: 1px solid #404040;
    transform: scale(1);
    transition: transform 250ms;
}

input:focus {
    transform: scale(1.1);
}

.btn {
    display: inline-block;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
    padding: 10px 30px;
}

.btn-primary {
    background-image: linear-gradient(to left, #FF713B, #FFA51D);
    color: white;
    transform: scale(1);
    transition: transform 250ms;
}

.btn-primary:hover,
.btn-primary:focus {
    transform: scale(1.1);
}

/******* Stars *******/
.stars {
    padding-top: 2em;
    margin: 1em auto;
    width: 100%;
}

.star {
    margin: 0 5px;
    width:2.5em;
    transform: scale(1);
    transition: transform 100ms;
}

.star:hover {
    transform: scale(1.2);
}

.contact-us h1 {
    margin: 0 auto;
    max-width: 80%;
    transform: scale(1);
    transition: transform 200ms;
}

.contact-us h1:hover {
    transform: scale(1.2);
}

.star {
    animation-name: example;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-iteration-count: 4;
    animation-direction: alternate;  
}

@keyframes example {
    from {transform: scale(1);}
    to {transform: scale(1.2);}
}

.dance-img {
    padding: 50px 10px;
}