/* Setup default styles */
    body {
        margin: 0 auto;
        max-width: 100%;
        text-align: right;
        font-family: 'Rubik', sans-serif;
        color: #161C30;
        font-size: 1.1em;
    }

    img {
        width: 100%; 
    }

    header {
        padding: 5px 0;
        background-color: white;
    }

    img, p, h1, h2 {
        padding: 0;
        margin: 0;
    }

    h1 {
        padding-bottom: 1rem;
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

/* End of elements */

/* layout */    


.welcome {
    padding: 2em;
    background-image: linear-gradient(to left, rgb(240, 240, 255) , white);
    display: flex;
    flex-direction: column;
}
.welcome-paragraph {
    padding-bottom: 1em;
}

@media (min-width:800px) {
    .main-container {
        width: 80%;
        max-width: 900px;
        margin-top: 2rem;
    }
    .welcome {
        padding: 1em 0;
        flex-direction: row;
    }
    .welcome-paragraph {
        width:45%;
        margin: auto auto;
        padding: 1rem;
    }
    .welcome-img {
        width:45%;
        min-width: 350px;
        margin: auto 0;
        padding: 1rem;
        padding-left: 0;
    }
}

.container-intro {
    text-align: center;
    margin: 0 auto;
    padding: 1em 0;
    width:80%;
 }

.container {
    text-align: center;
    padding: 0em 5em;
    margin: 0 auto;
    background-color: white;
}

.container-course {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:800px) {
    .container-course {
        flex-direction: row;
        justify-content: space-between;
    }

    .container-course-description {
        width: 45%;
    }

    .second-container {
        padding-left: 20px;
        order: -1;
    }
    
    .container-course-image {
        width: 45%;
        margin: auto auto;
    }
}

.container-course-description {
    /* max-width: 380px; */
    font-weight: 500;
    margin: 0 auto;
    text-align: right;
}

.container-course-description h1 {
    text-align: center;
}

.polaroid-container {
    margin-top: 50px;
    margin-bottom: 90px;
}

.dreaming-lambada {
    text-align: right;
}

.certificate-container {
    margin: 50px 0px 100px 0px;
    padding: 4px 4px 0px 4px;
}

/* End of layout */

/* lists */
    ul {
        padding-right: 0rem;
    }
    .V-bullet li {
        background-image: url("../images/V-icon.png");
    }
    .arrow-bullet li {
        background-image: url("../images/arrow-icon-blue-1.png");
    }

    li {
        margin: 0;
        padding: 8px 0px;
        list-style: none;
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 20px;
        text-align: right;
        width: 100%;
    }

    li:last-child {
        margin-bottom: 40px;
    }

    .bullet-text {
        padding-right: 37px;
        color: rgb(46, 66, 92);
    }

/* End of lists */

/* images */
    .container-header-img {
        width:40%;
        max-width: 350px;
        padding-left: 1em;
        order: 1;
    }

    div.polaroid {
        width: 284px;
        padding: 10px 10px 20px 10px;
        border: 1px solid #BFBFBF;
        background-color: white;
        box-shadow: 10px 10px 5px #aaaaaa;
        margin-bottom: 50px;
      }
      
      div.rotate_left {
        /* float: left; */
        -ms-transform: rotate(-8deg); /* IE 9 */
        -webkit-transform: rotate(-8deg); /* Safari */
        transform: rotate(-8deg);
      }

      .shadow-box {
        padding: 10px;
        box-shadow: 5px 18px 10px  #888888;
      }
/* End of images */

